@page "/Admin/Copy"

@model DMCore.Areas.Admin.Pages.IndexModelCopy
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<ul class="portfolio-filter">
    <li><a class="btn btn-default active" href="#" data-filter="*">Manage All</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".deals">Manage Deals</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".stores">Manage Stores</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".posts">Manage Blog Posts</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".users">Manage Users and Roles</a></li>
</ul><!--/#portfolio-filter-->

<ul class="portfolio-items col-3">
    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item5.jpg" alt="">
            <h5>Deals</h5>
            <div class="overlay">
                <a href="/Admin/Deals"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item5.jpg" alt="Deals" /></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item5.jpg" alt="">
            <h5>Coupons</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="~/images/portfolio/thumb/item3.jpg" alt="">
            <h5>Deal Categories</h5>
            <div class="overlay">
                <a href="/Admin/DealCategories"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item3.jpg" alt="Deal Categories" /></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item5.jpg" alt="">
            <h5>Deal Tags</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item stores">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item6.jpg" alt="">
            <h5>Stores</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item6.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item stores">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item6.jpg" alt="">
            <h5>Affiliate Stores</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item6.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item posts">
        <div class="item-inner">
            <img src="~/images/portfolio/thumb/item3.jpg" alt="">
            <h5>Blog Posts</h5>
            <div class="overlay">
                <a href="/Admin/Blog"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item3.jpg" alt="Manage Blog Posts" /></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item users">
        <div class="item-inner">
            <img src="~/images/portfolio/thumb/item3.jpg" alt="">
            <h5>Users</h5>
            <div class="overlay">
                <a href="/Admin/Users"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item3.jpg" alt="Manage Users" /></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item users">
        <div class="item-inner">
            <img src="~/images/portfolio/thumb/item3.jpg" alt="">
            <h5>Roles</h5>
            <div class="overlay">
                <a href="/Admin/Roles"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item3.jpg" alt="Manage Roles" /></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
</ul>